* {
   /* make CoFo Sans */
    font-family: 'CoFo Sans', sans-serif;
}

.sidebar-item {
    /* on hover */
    &:hover {
        background-color: #c3c3c3;
        
    }
}

.rbc-active {
    background-color: blue;
    /* make it prettier */
    border-radius: 5px;
    padding: 5px;
    color: white;
    /* color: blueviolet; */
}

.rbc-month-view{
    /* make it prettier */
    border-radius: 5px;
    padding: 5px;
    /* color: blueviolet; */
    /* turn off the shadow */
    box-shadow: none;
    /* border noe */
    border: none;

}

.leaflet-routing-alt {
    display: none;
}

.intro-back {
    animation: backgroundColorChange 2s ease-in-out forwards;
}

@keyframes backgroundColorChange {
    from {
        background-color: black;
        color: linear-gradient(to right, #ffffff, #39adff);
    }
    to {
        background-color: white;
        color: linear-gradient(to right, #2b2b2b, black);
    }
}