spring:
  devtools:
    restart:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:3306/Hackkmk"
    username: "root"
    password: "root"
springdoc:
  swagger-ui:
    displayOperationId: true
